window.OPENSHIFT_CONSTANTS.CLI = {
  "Linux (64 bits)": "http://oc-client-tools.apps.skylake.demolab.local/openshift-client-linux.tar.gz",
  "Windows":         "http://oc-client-tools.apps.skylake.demolab.local/openshift-client-windows.zip",
  "Mac OS X":        "http://oc-client-tools.apps.skylake.demolab.local/openshift-client-macosx.tar.gz"
};