window.OPENSHIFT_CONSTANTS.CLI = {
  "Linux (64 bits)": "http://oc-infra.apps.apd.io/openshift-client-linux.tar.gz",
  "Windows":         "http://oc-infra.apps.apd.io/openshift-client-windows.zip",
  "Mac OS X":        "http://oc-infra.apps.apd.io/openshift-client-macosx.tar.gz"
};

